@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Philosopher:wght@400;700&display=swap");
body {
  background-image: url(bg.jpg);
  background-size: contain;
  margin: 0;
}
.navbar {
  font-family: Philosopher;
  margin: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-img {
  width: 80px;
}
.nav-item {
  width: 50%;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  justify-content: space-evenly;
  align-items: flex-end;
  list-style: none;
  color: white;
  transition: 0.2s;
  padding: 12px;
  gap: 3rem;
}
.nav-hover:hover {
  color: rgb(221, 247, 178);
  transition: 0.2s ease-out;
}
.right-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signup-btn {
  background-color: rgb(96, 122, 236);
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  transition: 0.2s;
}
.signup-btn:hover {
  background-color: white;
  color: rgb(96, 122, 236);
  transition: 0.2s;
}
.section-1 {
  height: 100%;
  margin: 0 auto;
  /* background: url(bg.jpg); */
  /* background-color: #121923; */
  /* background-repeat: no-repeat; */
  background-size: contain;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Philosopher", sans-serif;
  border-bottom-right-radius: 160px;
  border-bottom-left-radius: 160px;
}
.login-heading {
  font-size: 1.5rem;
  color: rgb(221, 247, 178);
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
  padding: 10px;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to bottom, rgb(221, 247, 178), rgba(0, 0, 0, 0))
    1 100%;
}
h1 {
  font-size: 4rem;
  /* color: rgb(176, 235, 179); */
  color: #fdeedc;
  /* background-color: rgb(226, 116, 43); */
  /* box-shadow: rgb(207, 140, 252) 5px 5px 35px 0px; */
  border-radius: 15px;
  padding: 15px;
}
.special-color {
  color: rgb(0, 255, 221);
}
small {
  color: rgb(221, 247, 178);
}
p {
  font-size: 1.5rem;
  color: rgb(0, 255, 221);
}
.container {
  max-width: 1200px;
  height: 100%;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  gap: 10px;
}
.box {
  width: 200px;
  height: 150px;
  padding: 35px;
  border-radius: 60% 40% 40% 20%;
  box-shadow: rgb(222, 184, 248) 5px 5px 40px;
}

input {
  background: none;
  box-shadow: rgb(221, 247, 178) -8px 5px 10px;
  font-size: 17px;
  color: #ffffff;
  padding: 10px 10px;
  width: 20rem;
  border: none;
  border-radius: 15px;
  margin: 10px 0;
}
input:hover {
  box-shadow: rgb(221, 247, 178) -8px 5px 20px;
  border: none;
}
.button {
  background-color: rgb(96, 122, 236);
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  transition: 0.2s;
  border: none;
  margin: 10px 0;
  transition: 0.3s;
}
.button:hover {
  background-color: white;
  color: rgb(96, 122, 236);
  transition: 0.4s;
}
.authentication-link {
  display: flex;
  margin: 8px;
  font-size: 1.2rem;
}
.authentication-link span {
  color: white;
}
a {
  color: rgb(0, 238, 255);
  padding: 0 5px;
  text-decoration: none;
}
.module {
  font-family: "Josefin Sans", sans-serif;
  max-width: 350px;
  padding: 1rem;
  color: rgb(255, 255, 255);
  border-width: 3px;
  border-image: linear-gradient(to bottom, rgb(0, 255, 221), rgba(1, 0, 0, 0)) 1
    100%;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  padding: 5px;
  border-radius: 23px;
  box-shadow: rgb(207, 140, 252) 5px 5px 35px 0px;
}
.product:hover {
  zoom: 99%;
}

/* -------------
section extra
---------------- */

.extra-section {
  font-family: "Raleway", sans-serif;
  position: relative;
  /* background-image: radial-gradient(circle at center, #899dc4, #495d84); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: radial-gradient(ellipse at bottom, #1b2735, #090a0f); */
  font-weight: 300;
  margin-top: 3rem;
}
.all {
  display: flex;
  perspective: 10px;
  transform: perspective(300px) rotateX(20deg);
  will-change: perspective;
  perspective-origin: center center;
  transition: all 1.3s ease-out;
  justify-content: center;
  transform-style: preserve-3d;
}
.all:hover {
  perspective: 1000px;
  transition: all 1.3s ease-in;
  transform: perspective(10000px) rotateX(0deg);
}
.all.text {
  opacity: 1;
}
.all > div {
  opacity: 1;
  transition-delay: 0s;
}
.all.explainer {
  opacity: 0;
}
.left,
.center,
.right,
.lefter,
.righter {
  width: 200px;
  height: 150px;
  transform-style: preserve-3d;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 0 0 20px 5px rgba(170, 53, 248, 0.4);
  opacity: 1;
  transition: all 0.3s ease;
  transition-delay: 1s;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  background-blend-mode: color-burn;
}
.left:hover,
.center:hover,
.right:hover,
.lefter:hover,
.righter:hover {
  box-shadow: 0 0 20px 10px rgba(129, 129, 255, 0.6);
  background-color: rgba(219, 165, 255, 0.137);
}

.text {
  transform: translateY(30px);
  opacity: 1;
  transition: all 0.3s ease;
  bottom: 0;
  left: 5px;
  position: absolute;
  will-change: transform;
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-shadow: 0 0 5px rgba(100, 100, 255, 0.6);
  width: 100%;
  text-align: center;
}
.lefter {
  transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
  /* background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/organization-512.png); */
  background-image: url(bg.jpg);
}
.left {
  transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
  /* background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/creative_draw-512.png); */
  background-image: url(img/lp4.jpg);
}
.center {
  opacity: 1;
  /* background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/app_window-512.png); */
  background-image: url(img/lp5.png);
}
.right {
  transform: translateX(30px) translateZ(-25px) rotateY(5deg);
  /* background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/cloud_weather-512.png); */
  background-image: url(img/lp6.jpg);
}
.righter {
  transform: translateX(60px) translateZ(-50px) rotateY(10deg);
  /* background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/search-512.png); */
  background-image: url(img/lp3.jpg);
}
.explainer {
  font-weight: 700;
  font-size: 2rem;
  color: #ff0043;
  transition: all 0.6s ease;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  /* background-image: radial-gradient(
    circle at center top,
    rgb(207, 140, 252),
    rgb(58, 94, 255)
  ); */
  border-radius: 10px;
  /* text-shadow: 0 0 10px rgba(255, 255, 255, 0.514); */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*-----------------
 responsive 
 ------------------*/
@media only screen and (max-width: 644px) {
  body {
    background-image: url(bg.jpg);
    background-size: cover;
    margin: 0;
  }
  .navbar {
    display: none;
  }
  .login-heading {
    font-size: 1rem;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
    padding: 0.5rem;
  }
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .module {
    padding: 1rem;
    margin: 0 1rem;
  }
  .button {
    padding: 7px 16px;
    width: 5rem;
    font-size: 14px;
    font-weight: 700;
  }
  .product {
    /* margin-top: rem; */
    margin: 2rem;
  }

  /* -------------------------- */

  .all {
    flex-direction: column;
    perspective: 0px;
    transform: perspective(00px) rotateX(0deg);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
  .left {
    transform: translateX(0px) translateZ(0px) rotateY(0deg);
    order: 2;
  }
  .right {
    transform: translateX(0px) translateZ(0px) rotateY(0deg);
    order: 2;
  }
  .righter {
    transform: translateX(0px) translateZ(0px) rotateY(0deg);
    order: 2;
  }
  .lefter {
    transform: translateX(0px) translateZ(0px) rotateY(0deg);
    order: 2;
  }
  .center {
    order: 1;
    height: 90%;
  }
  /* .explainer {
    padding: 10px;
    border: none;
  } */
  .text {
    font-family: josefin sans;
    height: 100%;
    font-weight: 600;
    font-size: 1.6rem;
    /* color: rgb(255, 255, 255); */
  }
}
