@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Philosopher:wght@400;700&family=Poppins:wght@300;400;500;600&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Josefin Sans;
} */
html,
body {
  background-image: url(bg.jpg);
  background-size: contain;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  font-family: Philosopher;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.nav-img {
  width: 60px;
}
.nav-item {
  width: 50%;
  display: flex;
  font-size: 24px;
  font-weight: 500;
  justify-content: space-evenly;
  align-items: flex-end;
  text-decoration: none;
  color: white;
  transition: 0.2s;
  padding: 12px;
  gap: 3rem;
}
.right-nav .nav-item a {
  padding: 10px;
}
.nav-attribute {
  color: rgb(255, 255, 255);
  padding: 0 5px;
  text-decoration: none;
}
.nav-attribute:hover {
  color: #ff6263;
  transition: 0.2s ease-out;
}
.right-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signup-btn {
  background-color: #5920cb;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  font-size: 22px;
  transition: 0.2s;
}
.signup-btn:hover {
  background-color: white;
  color: #5920cb;
  transition: 0.2s;
}
.menu {
  display: none;
}
.section-1 {
  margin: 0 auto 0 auto;
  background-size: contain;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Philosopher", sans-serif;
}
.lock-icon {
  width: 200px;
  margin: 0;
  padding: 0;
}
.login-heading {
  font-size: 2.5rem;
  color: #ffffff;
  width: 800px;
}
.login-heading-mbl {
  display: none;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 130px;
  padding: 40px 0px 20px 0;
  border-width: 5px;
  border-style: solid;
  background: linear-gradient(#6f00ed, #edbf69);
  border-radius: 25px;
  border-image: linear-gradient(to bottom, #6ac47e, rgba(0, 0, 0, 0)) 1 100%;
  border-top: none;
  border-bottom: none;
  height: 400px;
}
h1 {
  font-size: 4rem;
  color: #ffffff;
  border-radius: 15px;
  padding: 15px;
}
.special-color {
  color: #ff6263;
}
/* ----------------------- */
.input-field {
  position: relative;
  height: 50px;
  width: 350px;
  border-radius: 6px;
  margin: 12px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.input-field input {
  height: 100%;
  width: 90%;
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 0 15px;
  font-size: 15px;
  font-weight: 400;
  color: #333;
  background-color: #e0ffff;
}
input::placeholder {
  color: #b4b4b4;
}
.input-field .email-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  color: #b4b4b4;
}
/* -----------------
password validation
------ -------------*/

/* The message box is shown when the user clicks on the password field */
#message {
  display: none;
  background: whitesmoke;
  color: #000;
  position: absolute;
  top: 270px;
  left: 840px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px;
}

#message p {
  padding: 5px 10px;
  font-size: 16px;
}
#passOk {
  display: inline;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  color: #b4b4b4;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: #00d84a;
}
.valid:before {
  position: relative;
  content: "✔";
}
/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: #e21717;
}
.invalid:before {
  position: relative;
  content: "✖";
}

/* =================== */
.button {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(64, 84, 178) 0%,
    rgb(219, 2, 234) 90%
  );
  display: flex;
  gap: 5px;
  padding: 8px 10px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  transition: 0.2s;
  cursor: pointer;
  border: none;
  margin: 30px 0 10px 0;
}
.button:hover {
  background: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%);
  color: white;
}
.button:active {
  transform: translate(-5px, 5px);
}
.btn-login {
  margin: 10px 0 10px 0;
  padding: 8px 25px;
}
.auth-link {
  margin: 8px;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 500;
}
.privacy-policy {
  padding: 10px;
}
.policy-color {
  color: #0b2c88;
  cursor: pointer;
  text-decoration: underline;
}
.forgot-signin {
  color: indigo;
}
a {
  text-decoration: none;
}
/* -----------------------------cart --------------------- */
.cart-container {
  background: #f8f5f5;
  max-height: 250px;
  width: 60vw;
  margin: 40px 10px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  border: 5px solid #8950ff;
}
.carts {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(90, 72, 255);
  border-radius: 10px;
}

.cart-heading {
  font-size: 24px;
  padding: 0;
  margin: 0;
  color: rgb(90, 72, 255);
}
.cart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
  box-shadow: 2px 1px 50px -2px rgba(121, 50, 252, 0.21);
  gap: 15px;
  border-radius: 20px;
  padding: 10px;
  background: white;
  width: 25vw;
}
.cart-img {
  width: 100px;
  height: 100%;
  border-radius: 10px;
}
.cart-name {
  font-size: 16px;
  line-height: 1;
}
.cart-text {
  font-size: 16px;
  line-height: 0.5;
}
.dlt-icon {
  width: 25px;
  margin: 0 0 0 auto;
}

/* ---------------------------PRODUCT---------------------------------- */
.product-module {
  font-family: "Josefin Sans", sans-serif;
  max-width: 380px;
  padding: 1rem;
  border-width: 3px;
  height: 250px;
  /* line-height: 2; */
}
.container {
  max-width: 1200px;
  height: 100%;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  gap: 35px;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  padding: 15px;
  border-radius: 25px;
  /* box-shadow: rgb(207, 140, 252) 0px 0px 3px 0px; */
  background-color: lightcyan;
  transition: all 0.4s;
}
.product:hover {
  box-shadow: rgb(207, 140, 252) 0px 0px 5px 3px;
  transition: all 0.4s;
}
.product-name {
  font-size: 1.5rem;
  color: #000000;
}
.product-info {
  font-size: 19px;
}
.container .product .box {
  width: 280px;
  height: 225px;
  border-radius: 23px;
  box-shadow: rgb(222, 184, 248) 0px 0px 1px 1px;
  background-color: #cdcfd1;
}
.Qty-input {
  display: inline;
  border: 2px solid black;
  width: 30px;
  padding: 3px 10px;
  border-radius: 15px;
  text-align: center;
}
.qty-bar {
  background: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%);
  margin: 0px 10px;
  border-radius: 10px;
  display: inline;
}
.plus-minus {
  padding: 10px 10px;
  color: white;
  background: none;
  font-size: 19px;
  cursor: pointer;
  border: none;
  list-style: none;
  align-items: center;
}
.reset-product {
  padding: 2px 5px;
  border-radius: 10px;
  cursor: pointer;
  list-style: none;
  align-items: center;
  background: rgb(247, 39, 39);
}
.price {
  color: rgb(219, 2, 234);
  font-size: 28px;
}

/* ---------------------------------
section extra
------------------------------------ */
.brand-heading-mbl {
  display: none;
}
.extra-section {
  font-family: "Raleway", sans-serif;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.all {
  display: flex;
  perspective: 10px;
  transform: perspective(300px) rotateX(20deg);
  will-change: perspective;
  perspective-origin: center center;
  transition: all 1.3s ease-out;
  justify-content: center;
  transform-style: preserve-3d;
}
.all:hover {
  perspective: 1000px;
  transition: all 1.3s ease-in;
  transform: perspective(10000px) rotateX(0deg);
}
.all.text {
  opacity: 1;
}
.all > div {
  opacity: 1;
  transition-delay: 0s;
}
.all.explainer {
  opacity: 0;
}
.left,
.right,
.center,
.lefter,
.righter {
  width: 200px;
  height: 150px;
  transform-style: preserve-3d;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0 0 20px 5px rgba(170, 53, 248, 0.4);
  opacity: 1;
  transition: all 0.3s ease;
  transition-delay: 1s;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  background-blend-mode: color-burn;
}
.left:hover,
.center:hover,
.right:hover,
.lefter:hover,
.righter:hover {
  box-shadow: 0 0 20px 10px rgba(129, 129, 255, 0.6);
  background-color: rgba(219, 165, 255, 0.137);
}

.text {
  transform: translateY(30px);
  opacity: 1;
  transition: all 0.3s ease;
  bottom: 0;
  left: 5px;
  position: absolute;
  will-change: transform;
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-shadow: 0 0 5px rgba(100, 100, 255, 0.6);
  width: 100%;
  text-align: center;
}
.lefter {
  transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
  background-image: url(bg.jpg);
}
.left {
  transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
  background-image: url(https://i.ibb.co/SXtdFNF/lp-12.png);
}
.right {
  transform: translateX(30px) translateZ(-25px) rotateY(5deg);
  background-image: url(https://i.ibb.co/C1s3jN8/lp-11.png);
}
.righter {
  transform: translateX(60px) translateZ(-50px) rotateY(10deg);
  background-image: url(img/lp3.jpg);
}
.explainer {
  font-weight: 700;
  font-size: 2rem;
  color: #fdeedc;
  transition: all 0.6s ease;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(64, 84, 178) 0%,
    rgb(219, 2, 234) 90%
  );
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ------------------------------review section------------------------------- */

.review-section {
  width: 100vw;
  font-family: "Poppins", sans-serif;
}
.slide-container {
  height: 500px;
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card {
  border-radius: 25px;
  background-color: #fff;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* background-color: #4070f4; */
  background-color: #ac32e4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #ac32e4;
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}
.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button-rvw {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #ac32e4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button-rvw:hover {
  background: #992bcc;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}

/* ------------------------------------------footer--------------------------- */
.dewo {
  width: 100%;
  /* order: 3; */
}
.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
  font-family: "Philosopher", sans-serif;
}
.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*-----------------------------------------------
 responsive 
 ----------------------------------------------*/

@media only screen and (max-width: 644px) {
  body {
    background-image: url(img/lp-0.jpg);
    background-size: cover;
    margin: 0;
  }
  .nav-flex-column {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .nav-btn-flex-column {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .right-nav {
    position: fixed;
    height: 100vh;
    background: #6f00ed;
    top: 0px;
    padding: 0rem 5rem;
    z-index: 1;
    transition: all 0.6s;
    right: -300px;
  }
  .back {
    right: 0px;
  }
  .nav-item {
    margin-bottom: 30px;
  }
  /* ----------hamburger menu */

  .menu {
    background-color: transparent;
    position: absolute;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    margin-top: 20px;
    z-index: 2;
    right: 10px;
    top: 0px;
    transition: all 0.7s;
  }
  .menu-location {
    right: 200px;
    transition: all 0.7s;
  }
  .line {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  /* /-----------------*  */

  .lock-icon {
    width: 170px;
    margin-bottom: 10px;
  }
  .login {
    margin-top: 85px;
    padding: 30px 0;
    border: none;
    width: 366px;
  }
  .input-field {
    width: 300px;
    height: 45px;
  }
  .privacy-color {
    color: lightcyan;
  }
  .auth-link {
    /* color: #a65eff; */
    font-size: 1rem;
  }
  .login-heading-mbl {
    display: block;
    width: 450px;
  }
  .login-heading-pc {
    display: none;
  }
  #message {
    left: 130px;
    top: 255px;
    z-index: 2;
    padding: 10px;
  }
  #message h3 {
    display: none;
  }
  #message p {
    padding: 0px 0px;
    font-size: 16px;
    margin-block-start: 5px;
    margin-block-end: 0em;
  }

  .product-heading {
    font-size: 3rem;
    text-align: center;
    padding: 0.5rem;
    margin-top: 0;
  }
  .container {
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
  .product-module {
    padding: 1rem;
    margin: 0 1rem;
    border-image: none;
  }
  .button {
    /* width: 180px; */
    justify-content: center;
  }
  .product {
    margin: 2rem;
  }

  /* -------------------------- */

  .brand-heading-mbl {
    display: block;
    font-size: 2.5rem;
    color: white;
  }
  .extra-section {
    margin-top: 0;
  }
  .all {
    flex-direction: column;
    perspective: 0px;
    transform: perspective(00px) rotateX(0deg);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .left,
  .right,
  .lefter,
  .righter {
    transform: translateX(0px) translateZ(0px) rotateY(0deg);
    order: 2;
    width: 184px;
  }
  .center {
    display: none;
  }
  .explainer {
    width: 100%;
    height: 80%;
  }

  .text {
    font-family: josefin sans;
    height: 100%;
    font-weight: 600;
    font-size: 1.6rem;
  }

  /* cart responsive */
  .cart-container {
    width: 90vw;
  }
  .cart {
    width: 81vw;
    margin: 10px auto;
  }
  .cart-text {
    font-size: 14px;
    line-height: 0.5;
  }
  .dlt-icon {
    width: 20px;
    /* margin: 0 0 0 auto; */
  }

  /* review section responsive */
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
  /* -----------footer------------------- */
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
