@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Philosopher:wght@400;700&display=swap");

html,
body {
  background-image: url(bg.jpg);
  background-size: contain;
  margin: 0;
}
.navbar {
  font-family: Philosopher;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.nav-img {
  width: 60px;
}
.nav-item {
  width: 50%;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  justify-content: space-evenly;
  align-items: flex-end;
  text-decoration: none;
  color: white;
  transition: 0.2s;
  padding: 12px;
  gap: 3rem;
}
.right-nav .nav-item a {
  padding: 10px;
}
.nav-attribute {
  color: rgb(0, 238, 255);
  padding: 0 5px;
  text-decoration: none;
}
.nav-attribute:hover {
  color: #ffffff;
  transition: 0.2s ease-out;
}
.right-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signup-btn {
  background-color: rgb(96, 122, 236);
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  transition: 0.2s;
}
.signup-btn:hover {
  background-color: white;
  color: rgb(96, 122, 236);
  transition: 0.2s;
}
.menu {
  display: none;
}
.section-1 {
  margin: 0 auto 0 auto;
  background-size: contain;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Philosopher", sans-serif;
  /* color: rgba(136, 33, 255, 0.568); */
}
.login-heading {
  font-size: 2.5rem;
  color: #ffffff;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
  padding: 10px;
  border-width: 6px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #ac32e4, rgba(0, 0, 0, 0)) 1 100%;
}
h1 {
  font-size: 4rem;
  color: #ffffff;
  border-radius: 15px;
  padding: 15px;
}
.special-color {
  color: rgb(0, 255, 221);
}
/* ----------------------- */
.input-field {
  position: relative;
  height: 50px;
  width: 280px;
  border-radius: 6px;
  background-color: #fff;
  margin: 10px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.input-field input {
  height: 100%;
  width: 90%;
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 0 15px;
  font-size: 15px;
  font-weight: 400;
  color: #333;
}
input::placeholder {
  color: #b4b4b4;
}
.input-field .email-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  color: #b4b4b4;
}
/* -----------------
password validation
------ -------------*/

/* The message box is shown when the user clicks on the password field */
#message {
  display: none;
  background: #f1f1f1;
  color: #000;
  position: absolute;
  top: 360px;
  left: 825px;
  padding: 10px;
  border-radius: 10px;
}

#message p {
  padding: 5px 10px;
  font-size: 16px;
}
#passOk {
  display: inline;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  color: #b4b4b4;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: rgb(20, 185, 20);
}

.valid:before {
  position: relative;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  content: "✖";
}

/* =================== */
.button {
  background: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%);
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  transition: 0.2s;
  border: none;
  margin: 10px 0;
}
.button:hover {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(64, 84, 178) 0%,
    rgb(219, 2, 234) 90%
  );
  color: white;
}
.button:active {
  transform: translate(-5px, 5px);
}
.auth-link {
  margin: 8px;
  font-size: 1.2rem;
  /* color: rgb(96, 122, 236); */
  font-weight: 500;
}
.colour-White {
  color: #ffffff;
}
a {
  text-decoration: none;
}
.module {
  font-family: "Josefin Sans", sans-serif;
  max-width: 350px;
  padding: 1rem;
  color: rgb(255, 255, 255);
  border-width: 3px;
  border-image: linear-gradient(to bottom, rgb(0, 255, 221), rgba(1, 0, 0, 0)) 1
    100%;
}
.container {
  max-width: 1100px;
  height: 100%;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  gap: 35px;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 25px;
  box-shadow: rgb(207, 140, 252) 0px 0px 3px 0px;
  transition: all 0.4s;
}
.product:hover {
  box-shadow: rgb(207, 140, 252) 0px 0px 5px 3px;
  transition: all 0.4s;
}
.product-name {
  font-size: 1.7rem;
  /* color: crimson; */
  /* color: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%); */
}
.container .product .box {
  width: 325px;
  height: 300px;
  border-radius: 23px;
  box-shadow: rgb(222, 184, 248) 0px 0px 0px 0px;
  background-color: #cdcfd1;
}

/* -------------
section extra
---------------- */

.extra-section {
  font-family: "Raleway", sans-serif;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  margin-top: 3rem;
}
.all {
  display: flex;
  perspective: 10px;
  transform: perspective(300px) rotateX(20deg);
  will-change: perspective;
  perspective-origin: center center;
  transition: all 1.3s ease-out;
  justify-content: center;
  transform-style: preserve-3d;
}
.all:hover {
  perspective: 1000px;
  transition: all 1.3s ease-in;
  transform: perspective(10000px) rotateX(0deg);
}
.all.text {
  opacity: 1;
}
.all > div {
  opacity: 1;
  transition-delay: 0s;
}
.all.explainer {
  opacity: 0;
}
.left,
.center,
.right,
.lefter,
.righter {
  width: 200px;
  height: 150px;
  transform-style: preserve-3d;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0 0 20px 5px rgba(170, 53, 248, 0.4);
  opacity: 1;
  transition: all 0.3s ease;
  transition-delay: 1s;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  background-blend-mode: color-burn;
}
.left:hover,
.center:hover,
.right:hover,
.lefter:hover,
.righter:hover {
  box-shadow: 0 0 20px 10px rgba(129, 129, 255, 0.6);
  background-color: rgba(219, 165, 255, 0.137);
}

.text {
  transform: translateY(30px);
  opacity: 1;
  transition: all 0.3s ease;
  bottom: 0;
  left: 5px;
  position: absolute;
  will-change: transform;
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-shadow: 0 0 5px rgba(100, 100, 255, 0.6);
  width: 100%;
  text-align: center;
}
.lefter {
  transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
  /* background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/organization-512.png); */
  background-image: url(bg.jpg);
}
.left {
  transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
  /* background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/creative_draw-512.png); */
  background-image: url(img/lp4.jpg);
}
.center {
  opacity: 1;
  /* background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/app_window-512.png); */
  background-image: url(img/lp5.png);
}
.right {
  transform: translateX(30px) translateZ(-25px) rotateY(5deg);
  /* background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/cloud_weather-512.png); */
  background-image: url(img/lp6.jpg);
}
.righter {
  transform: translateX(60px) translateZ(-50px) rotateY(10deg);
  /* background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/search-512.png); */
  background-image: url(img/lp3.jpg);
}
.explainer {
  font-weight: 700;
  font-size: 2rem;
  color: #fdeedc;
  transition: all 0.6s ease;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45.8deg,
    rgb(175, 104, 254) 9.3%,
    rgb(101, 223, 255) 75.1%
  );
  /* background-image: radial-gradient(
    circle at center top,
    rgb(207, 140, 252),
    rgb(58, 94, 255)
  ); */
  border-radius: 10px;
  /* text-shadow: 0 0 10px rgba(255, 255, 255, 0.514); */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ------------------------------------------footer--------------------------- */
.dewo {
  width: 100%;
}
.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
  font-family: "Philosopher", sans-serif;
}
.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/* .content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: rgb(205, 98, 255);
} */

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*-----------------
 responsive 
 ------------------*/
@media only screen and (max-width: 644px) {
  body {
    background-image: url(bg.jpg);
    background-size: cover;
    margin: 0;
  }
  .nav-flex-column {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .nav-btn-flex-column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right-nav {
    position: fixed;
    height: 100vh;
    background: hsl(283, 100%, 63%);
    top: 0px;
    padding: 0rem 5rem;
    z-index: 1;
    transition: all 0.6s;
    right: -300px;
  }
  .back {
    right: 0px;
  }
  .nav-item {
    margin-bottom: 30px;
  }
  /* ----------hambergar menu */

  .menu {
    background-color: transparent;
    position: absolute;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
    right: 10px;
    top: 0px;
    transition: all 0.7s;
    background: hsl(283, 100%, 63%);
  }
  .menu-location {
    right: 200px;
    transition: all 0.7s;
  }
  button svg {
    background-color: hsl(283, 100%, 63%);
    border-radius: 50px;
  }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  /* /-----------------*  */

  .login {
    margin-top: 0px;
  }
  .login-heading {
    font-size: 1rem;
  }
  #message {
    left: 120px;
    top: 130px;
    z-index: 2;
    padding: 10px;
  }
  #message h3 {
    display: none;
  }
  #message p {
    padding: 0px 0px;
    font-size: 16px;
    margin-block-start: 5px;
    margin-block-end: 0em;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
    padding: 0.5rem;
  }
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .module {
    padding: 1rem;
    margin: 0 1rem;
  }
  .button {
    padding: 10px 20 px;
    width: 5rem;
    font-size: 20px;
    font-weight: 700;
  }
  .product {
    /* margin-top: rem; */
    margin: 2rem;
  }

  /* -------------------------- */

  .all {
    flex-direction: column;
    perspective: 0px;
    transform: perspective(00px) rotateX(0deg);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
  .left {
    transform: translateX(0px) translateZ(0px) rotateY(0deg);
    order: 2;
  }
  .right {
    transform: translateX(0px) translateZ(0px) rotateY(0deg);
    order: 2;
  }
  .righter {
    transform: translateX(0px) translateZ(0px) rotateY(0deg);
    order: 2;
  }
  .lefter {
    transform: translateX(0px) translateZ(0px) rotateY(0deg);
    order: 2;
  }
  .center {
    order: 1;
    height: 90%;
  }
  .text {
    font-family: josefin sans;
    height: 100%;
    font-weight: 600;
    font-size: 1.6rem;
  }
  /* -----------footer------------------- */
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
